<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MuseoConnect - Admin - Artifacts</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="images/MuseoDeLaSalle.png" type="image/jpeg" rel="icon">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand text-brand" href="/loggedInindex">Museo<span class="color-b">Connect </span>ADMIN</a>

            <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/loggedInadmin">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/loggedInadminreservation">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/loggedInadminblocked">Blocked</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/loggedInadminartifacts">Artifacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loggedInadminreports">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loggedInadminquestions">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- End Header/Navbar -->

    <main id="main">

        <!-- Add Artifacts -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box d-flex align-items-center">
                            <img src="/images/artifacts.png" alt="Image" class="img-fluid"
                                style="max-width: 100px; max-height: 100px;">
                            <h1 class="title-single">Artifacts</h1>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br><br>

                    <form id="add-artifact-form" action="/loggedIn/admin/addArtifact" method="POST"
                        enctype="multipart/form-data">
                        <!-- action="/loggedIn/admin/addArtifact" method="POST" enctype="multipart/form-data" -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Artifact Image</label>
                            <input type="file" class="form-control" id="image" name="image" required autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="title" class="form-label">Artifact Title</label>
                            <input type="text" class="form-control" id="title" name="title" required autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="type" class="form-label">Artifact Type</label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="">Select a Type</option>
                                <!-- Add your artifact types here -->
                                <option value="Kitchen Ware">Kitchen Ware</option>
                                <option value="Laundry Ware">Laundry Ware</option>
                                <option value="Personal Wear and Adornment">Personal Wear and Adornment</option>
                                <option value="Laundry Fixture">Lighting Fixture</option>
                                <option value="Tool">Tool</option>
                                <option value="Painting">Painting</option>
                                <option value="Sculpture">Sculpture</option>
                                <option value="Others">Others</option>
                                <!-- ... other types ... -->
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="status" class="form-label">Artifact Status</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="">Select a Storage Type</option>
                                <option value="Displayed">Displayed</option>
                                <option value="Donated">Donated</option>
                                <option value="Stored">Stored</option>
                                <option value="Sold">Sold</option>
                                <!-- ... other statuses ... -->
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Artifact Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4" required
                                autocomplete="off"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="sketchfabLink" class="form-label">Sketchfab Embed Link</label>
                            <input type="text" class="form-control" id="sketchfabLink" name="sketchfabLink"
                                placeholder="Paste Sketchfab Embed Link here">
                            <small class="form-text text-muted">If available, you can provide a Sketchfab embed link for
                                a 3D model.</small>
                        </div>

                        <button type="submit" class="btn btn-primary" onclick="insertArtifact()">Add Artifact</button>
                    </form>
                </div>

                <!-- Display Artifacts -->
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <br><br><br>
                        <div class="title-single-box">
                            <h1 class="title-single">Display Artifacts</h1>

                        </div>
                    </div>

                    <div class="row mt-4">
                        <% artifacts.forEach(artifact=> { %>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card mb-3">
                                    <img src="<%= artifact.image %>" class="card-img-top" alt="<%= artifact.title %>">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= artifact.title %>
                                        </h5>
                                        <p class="card-text">
                                            <%= artifact.description %>
                                        </p>
                                        <form action="/loggedIn/admin/artifacts/<%= artifact._id %>?_method=DELETE"
                                            method="POST">
                                            <button type="submit" class="btn btn-danger">Remove Artifact</button>
                                        </form>
                                        <form action="/loggedIn/admin/artifacts/<%= artifact._id %>?_method=PUT"
                                            method="post" class="mt-2" enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label for="updateTitle" class="form-label">Update Title</label>
                                                <input type="text" name="updateTitle" value="<%= artifact.title %>"
                                                    class="form-control" required autocomplete="off">
                                            </div>

                                            <div class="mb-3">
                                                <label for="type" class="form-label">Artifact Type</label>
                                                <select class="form-control" id="updateType" name="updateType" required>
                                                    <option value="<%= artifact.type %>">
                                                        <%= artifact.type %>
                                                    </option>
                                                    <!-- Add your artifact types here -->
                                                    <option value="Kitchen Ware">Kitchen Ware</option>
                                                    <option value="Laundry Ware">Laundry Ware</option>
                                                    <option value="Personal Wear and Adornment">Personal Wear and
                                                        Adornment</option>
                                                    <option value="Laundry Fixture">Lighting Fixture</option>
                                                    <option value="Tool">Tool</option>
                                                    <option value="Painting">Painting</option>
                                                    <option value="Sculpture">Sculpture</option>
                                                    <option value="Others">Others</option>
                                                    <!-- ... other types ... -->
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="status" class="form-label">Artifact Status</label>
                                                <select class="form-control" id="updateStatus" name="updateStatus" required>
                                                    <option value="<%= artifact.status %>">
                                                        <%= artifact.status %>
                                                    </option>
                                                    <option value="Displayed">Displayed</option>
                                                    <option value="Donated">Donated</option>
                                                    <option value="Stored">Stored</option>
                                                    <option value="Sold">Sold</option>
                                                    <!-- ... other statuses ... -->
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="updateDescription" class="form-label">Update
                                                    Description</label>
                                                <textarea name="updateDescription" class="form-control" rows="4"
                                                    required autocomplete="off"><%= artifact.description %></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="updateImage" class="form-label">Update Image</label>
                                                <input type="file" name="updateImage" class="form-control"
                                                    accept="image/*">
                                            </div>
                                            <div class="mb-3">
                                                <label for="updateSketchfabLink" class="form-label">Update
                                                    Sketchfab Embed Link</label>
                                                <textarea name="updateSketchfabLink" class="form-control" rows="4"
                                                    autocomplete="off"><%= artifact.sketchfabLink %></textarea>
                                                <small class="form-text text-muted">Leave blank if there is no sketchfab
                                                    embed link</small>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Update Artifact</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="copyright-footer">
                        <p class="copyright color-text-a">
                            <span class="color-a"> © All Rights Reserved 2023, Fergus Ampuan, Rasheed Taban, Lemuel
                                Palgan
                        </p>
                        <% if (admin && admin.name && admin.type==="admin" ) { %>
                            <p hidden>Welcome, <%= admin.name %>
                            </p>
                            <% } else { %>
                                <p hidden>User is not logged in</p>
                                <script>
                                    // Redirect to the logout route when user.name is empty
                                    window.location.href = "/logout";
                                </script>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/index.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            async function insertArtifact() {
                const title = document.getElementById('title').value;
                const type = document.getElementById('type').value;
                const status = document.getElementById('status').value;
                const description = document.getElementById('description').value;
                const imageInput = document.getElementById('image');
                const sketchfabLink = docunment.getElementById('sketchfabLink').value;

                console.log("title: " + title);
                console.log("type: " + type);
                console.log("description: " + description);

                const formData = new FormData();
                formData.append('title', title);
                formData.append('type', type);
                formData.append('status', status);
                formData.append('description', description);
                formData.append('image', imageInput.files[0]);
                fontData.append('sketchfabLink', sketchfabLink)

                try {
                    const response = await fetch('/loggedIn/admin/addArtifact/', {
                        method: 'POST',
                        body: formData,
                    });

                    if (response.ok) {
                        // Check if the response is JSON
                        if (response.headers.get('content-type').indexOf('application/json') !== -1) {
                            const result = await response.json();
                            alert(result.message);

                            // Redirect to /loggedInadmin after adding the artifact
                            window.location.href = "/loggedInadminartifacts";
                        }
                    } else {
                        // Handle error response
                        const errorText = await response.text();
                        alert('Error: ' + errorText);
                    }
                } catch (error) {
                    console.error('Error inserting record:', error);
                    alert('An error occurred while inserting the record.');
                }
            }
        });

    </script>
</body>

</html>